{% extends "base.html" %}
{% block content %}
 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h1 class="display-4">isago.ml, c'est quoi ?</h1>
<p class="lead">Un simple outil pour aider les utilisateurs des compteurs prépayés « <em>I SAGO</em> » de l'<a href="https://www.edm-sa.com.ml/">E.D.M</a> à mieux connaître puis maitriser leurs consommations d'électricité.</p>
</div>

<div class="row">
	<ul>
		<li><em>isago.ml</em> n'est pas affilié à Énergie Du Mali SA</li>
		<li>Les données tarifaires présentes sur ce site ont été fournies par E.D.M.</li>
		<li>Les tarifs de l'électricité sont déterminés par la <strong>Commission de Régulatisation de l'Électricité et de l'Eau</strong> (CREE).</li>
	</ul>
</div>
{% endblock %}
