{% extends "base.html" %}
{% block content %}
<h2>Les montants recommandés</h2>
<p>Pour les usagers de compteurs monophasé 5A, les deux tranches sociales sont très avantageuses. De même, la troisième tranche est également très abordable.</p>
<p>Pour obtenir le maximum de ces tranches, commandez les montants suivants :</p>
<ul>
	<li>50 kWh: <strong>3 390 F</strong></li>
	<li>100 kWh: <strong>8 290 F</strong></li>
	<li>200 kWh: <strong>21 810 F</strong></li>
</ul>
<p>Pour les usagers en 10A ou 15A (sans tranches sociales) :</p>
<ul>
	<li>200 kWh: <strong>27 270 F</strong> (10A)</li>
	<li>200 kWh: <strong>27 470 F</strong> (15A)</li>
</ul>
{% endblock %}
