{% extends "base.html" %}
{% block content %}
<h2>Les montants recommandés</h2>
<p>Pour les usagers de compteurs monophasé 5A, les deux tranches sociales sont très avantageuses. De même, la troisième tranche est également très abordable.</p>
<p>Pour obtenir le maximum de ces tranches, commandez les montants suivants :</p>
<ul>
	<li>50 kWh: <strong>3 390 F</strong></li>
	<li>100 kWh: <strong>8 290 F</strong></li>
	<li>200 kWh: <strong>21 810 F</strong></li>
</ul>
<p>Pour les usagers en 10A ou 15A (sans tranches sociales) :</p>
<ul>
	<li>200 kWh: <strong>27 270 F</strong> (10A)</li>
	<li>200 kWh: <strong>27 470 F</strong> (15A)</li>
</ul>
<h2>Quand prendre du crédit ?</h2>
<p>Le tarif <strong>ne change pas au cours du mois</strong>. Inutile de se précipiter pendant les premiers jours du mois.</p>

<h2>Dois-je prendre beaucoup de crédit d'avance ?</h2>
<p>Non, <strong>surtout pas</strong>. Il est très désavantageux de faire de grosse recharge si vous ne la consommez pas durant le mois en cours.</p>

<h2>Dois-je attendre un mois pour reprendre du crédit ?</h2>
<p>Non. Vous pouvez prendre du crédit à tout moment avec <em>ISAGO</em>.</p>
<p>Le tarif de l'électricité dépend de votre consommation <strong>pendant le mois calendaire en cours</strong> ; pas pendant les 30 derniers jours.</p>

<h2>Quelle est la meilleure manière ?</h2>
<p>Le plus important, c'est de prendre <strong>uniquement le strict nécessaire</strong> ; c'est la difficulté du <em>ISAGO</em>.</p>
<p>Puisque le tarif au delà des tranches sociales est très cher, vous devez essayer de prépayer uniquement ce que vous allez consommer au cours du mois, quitte à prendre plusieurs fois des petits montants.</p>
<p>Exemple :</p>
<ul>
	<li>Je prends 10 000F de crédit le 3 mars ; j'obtiens ~ 112kWh.</li>
	<li>Le 27 mars, le crédit est fini.</li>
	<li>Je <strong>ne commande pas 10 000F à nouveau</strong>!</li>
	<li>J'ai donc consommé 112kWh en 24 jours (27 mars - 3 mars).</li>
	<li>J'ai donc consommé environ 4,5kWh par jour.</li>
	<li>J'ai donc besoin de 19 kWh (4j x 4,6kWh) pour terminer le mois.</li>
	<li>Je commande donc pour <strong>1 440F</strong> de <em>ISAGO</em>.</li>
	<li>Le 1<sup>er</sup> avril, je recommanderai en repartant sur les tranches sociales.</li>
</ul>
{% endblock %}
